/* About me page */
    /* Nav styling  */
.nav {
    padding: .1em;
    font-size: 18px;
    
}

.name {
    font-size: 2em;
    font-weight: bold;

}
    /* links to social media */
.centerIcons {
    
    padding-left: 25em; 

}

    /* Main styling */
h1{
    text-align: left;
}

main {
    background-color: whitesmoke;
    height: 35em;
}

.alignLeft{
    text-align: left;
}

    /* fixed footer */
footer {
    position: fixed;
    left:0;
    bottom:0;
    height: 2em;
    width: 100%;
    text-align: center;
}


/* About me page ends here */
/*Contact Page begins here  */
    
.messageBox {
    height: 10em;
    position: relative;
    
}


.backgroundColor { 
    background-color: whitesmoke;

}

.fa-github {
   
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-stack-overflow {
    color:orange;
  }

.iconPosition{

    font-size: 25px;

}
.imageHeight{
    width: 350;
    height: 350;
}