.nav {
    padding: .1em;
    font-size: 18px;
    
}

.name {
    font-size: 2em;
    font-weight: bold;

}

.centerIcons {
    
    padding-left: 25em; 

}

h1{
    text-align: left;
}


.alignLeft{
    text-align: left;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    height: 2em;
    width: 100%;
    text-align: center;
}

.messageBox {
    height: 10em;
    position: relative;
    
}



